:root {
  font-size: 12px;
  --quad: cubic-bezier(0.48, 0.04, 0.52, 0.96);
  --quart: cubic-bezier(0.76, 0.00, 0.24, 1.00);
  --quint: cubic-bezier(0.84, 0.00, 0.16, 1.00);
  --color-bg: #323232;
  --color-scroll: #2a2a2a;
  --color-scroll-thumb: #3e3e3e;
  --color-scroll-thumb-hover: #525252;

  --color-ui-idle: #3d3d3d;
  --color-ui-active: #4b4b4b;
  --color-ui-ultra: #797979;
  --color-text-idle: #b9b9b9;
  --color-text-hover: #c0c0c0;
  --color-text-active: #d0d0d0;
  --color-text: #a1a1a1;

  --color-ui-selected: #46a0f5;
  --color-ui-border: #3e3e3e;
  --color-ui-hover: #292929;

  --color-def-stroke: #444444;
  --color-def-fill: #333333;
  --color-def-stroke-frame: #1f1f1f;
  --color-def-fill-frame: #1f1f1f;

  --color-R: #eb6d5a;
  --color-G: #66ff3b;
  --color-B: #3593eb;
  --swatchList-height: auto;
  --swatchLength: 3;
  --tab-margin: .75rem;
  --font-size: .875rem;
  --panel-height: 200px;
  font-family: Rubik;
  color: #a1a1a1;
  margin: .5rem .25rem 0px .25rem;
  background-color: var(--color-bg);
}

svg {width: 100%;}

@font-face {
  font-family: 'protocolors';
  src:
    url('../assets/fonts/protocolors.ttf?u444x7') format('truetype'),
    url('../assets/fonts/protocolors.woff?u444x7') format('woff'),
    url('../assets/fonts/protocolors.svg?u444x7#protocolors') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="protocolor-icon-"], [class*=" protocolor-icon-"] {
  font-family: 'protocolors' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.protocolor-icon-arrow:before { content: "\e900"; }
.protocolor-icon-cancel:before { content: "\e901"; }
.protocolor-icon-cursor:before { content: "\e902"; }
.protocolor-icon-doublearrow:before { content: "\e903"; }
.protocolor-icon-dropper:before { content: "\e904"; }
.protocolor-icon-find:before { content: "\e905"; }
.protocolor-icon-minus:before { content: "\e906"; }
.protocolor-icon-plus:before { content: "\e907"; }


.bbox { box-sizing: border-box; }

#app {
  box-sizing: border-box;
  height: var(--panel-height);
}



/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: var(--color-scroll);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-thumb-hover);
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:single-button {
  /* margin: 1rem 0px; */
}

::-webkit-scrollbar-button:start {
  /* background-image: url('./scrollbarUpBtnAlt.png'); */
}

::-webkit-scrollbar-button:end {
  /* background-image: url('./scrollbarDownBtnAlt.png'); */
}

::-webkit-scrollbar-button:start:hover {
  /* background-image: url('./scrollbarUpBtnAltHover.png'); */
}

::-webkit-scrollbar-button:end:hover {
  /* background-image: url('./scrollbarDownBtnAltHover.png'); */
}




.appGrid {
  box-sizing: border-box;
  height: var(--panel-height);
  display: grid;
  grid-template-rows: 18fr 1fr;
  grid-row-gap: .5rem;
  overflow: hidden;
}

.mainTop {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-row-gap: .5rem;
  /* overflow: hidden; */
}

.end {
  /* box-sizing: border-box; */
  /* border: 2px solid red; */
  font-size: .75rem;
  width: 100%;
  /* margin-top: -1rem; */
  /* height: 1rem; */
  color: var(color-ui-idle);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: .5rem;
}

.resetSwatchList {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: .0625rem;
  background-color: var(--color-ui-hover);
  color: var(--color-light-idle);
}
.resetSwatchList:hover {
  background-color: var(--color-ui-active);
}

.headerMain {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 0fr 2fr;
  grid-row-gap: .25rem;
}

.headerInSelection {
  display: grid;
  grid-template-columns: 1fr;
}
.inSelectionGrid {
  box-sizing: border-box;
  display: grid;
  background-color: var(--color-ui-hover);
}

.inSelectionCell {
  box-sizing: border-box;
  background-color: var(--color-ui-hover);
}

.headerVisualizers {
  display: grid;
  grid-template-rows: .5fr 6fr 1fr;
  grid-row-gap: .25rem;
}

.visualizerModKeys {
  display: grid;
  grid-column-gap: .25rem;
  background-color: var(--color-ui-hover);
}
[class^="modKey"] {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modKey-Shift-Active { background-color: var(--color-G);}
.modKey-Ctrl-Active { background-color: var(--color-R);}
.modKey-Alt-Active { background-color: var(--color-B);}

.visualizerFillStroke {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

.fillstroke-mask {fill: var(--color-bg);}
.fillstroke-bg {fill: var(--color-bg);}
.fillstroke-fill {fill: var(--color-def-fill);}
.fillstroke-stroke {fill: var(--color-def-stroke);}

.multiClass {
  fill: #fff;
}

.fillstroke-cancel, .fillstroke-frame {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.fillstroke-cancel {stroke: red;}
.fillstroke-fill-frame {
  stroke: var(--color-def-fill-frame);
  stroke-linejoin: round;
  stroke-width: 2px;
  fill: none;
}
.fillstroke-stroke-frame {
  stroke: var(--color-def-stroke-frame);
  stroke-linejoin: round;
  stroke-width: 2px;
  fill: none;
}



.bodyMain {
  display: flex;
  box-sizing: border-box;
  /* border: 1px solid red; */
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-bg);
  overflow: auto;
  height: calc(var(--panel-height) - 90px);
}



.bodySwatches {
  /* border: 2px solid green; */
  box-sizing: border-box;
  width: 100%;
  height: var(--swatchList-height);
}

.swatchMain {
  box-sizing: border-box;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.swatchList {
  /* border: 1px solid green; */
  width: 100%;
  display: grid;
  grid-template: repeat(var(--swatchLength), 1fr);
  /* grid-auto-flow: column; */
  /* grid-template-rows: repeat(3, 1fr) */
  /* grid-template-columns: ; */
}
.swatch-active, .swatch-idle {
  box-sizing: border-box;
  /* border: 2px solid white; */
  height: 1.25rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 5fr .5fr 1fr;
  /* grid-column-gap: .25rem; */
}

.blank { background-color: var(--color-bg); }

.swatch-active {
  box-sizing: border-box;
  /* border: 2px solid white; */
  /* border-color: var(--color-ui-hover); */
}

.swatch-tag-icon {
  height: 0px;
  width: 0px;
  border: 3px solid var(--color-ui-selected);
}

.swatch-tag-active {
  /* margin-right: .25rem; */
  /* background-color: var(--color-ui-selected); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}

.swatch-tag-idle {
  /* margin-right: .25rem; */
  /* border-color: transparent; */
  background-color: var(--color-bg);
}

.swatch-idle {
  border-color: transparent;
}


[class^="swatchPrefix"] {
  box-sizing: border-box;
  height: 1.25rem;
  transition: width 60ms var(--quart) 0ms
            opacity 80ms var(--quart) 20ms;
  user-select: none;
}
.swatchPrefix-Def {
  background-color: var(--color-bg);
}


.swatchSuffix {
  /* margin-left: .25rem; */
  box-sizing: border-box;
  height: auto;
  transition: width 60ms var(--quart) 0ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swatch-icon-min {
  margin-top: .25rem;
}

.swatch-icon {
  color: var(--color-font);
  font-size: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
